body {
  display: flex;
  flex-direction: column;
}

#container_1 {
  display: flex;
  flex-direction: row;  
}

#product-root {
  padding-top: 30px; 
  width: 600px;
}

#reviews-root {
  padding-left: 90px;
  width: 350px;
  font-family: 'Montserrat', sans-serif;
}